#docker
MODEL=arcee-ai/trinity-large-preview:free
MODEL_API_KEY=
MODEL_BASE_URL=https://openrouter.ai/api/v1

QDRANT_URL=http://qdrant:6333
QDRANT_COLLECTION_NAME=my_collection

ENCODER=/tmp/ai_sidekick/app/encoders/frida

TOP_K_SEMANTIC_POINTS=10


#local
MODEL=arcee-ai/trinity-large-preview:free
MODEL_API_KEY=
MODEL_BASE_URL=https://openrouter.ai/api/v1

QDRANT_URL=http://localhost:6333
QDRANT_COLLECTION_NAME=my_collection

ENCODER=[full_path]/frida

TOP_K_SEMANTIC_POINTS=10

